<!--
    David Haas
    4/29/20
    https://dhaas417.greenriverdev.com/328/dating/
    Pet dating website
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Pet Partners</title>
    <include href="includes/header.htm"></include>

</head>

<body>
<nav class="navbar navbar-light bg-light mb-2">
    <a class="navbar-brand" href="./">My Pet Dating App</a>
</nav>

<div class="container">
    <div class="row">
        <div class="col">
            <h2 class="text-center">Pet Partner Perfection</h2>
            <p>Welcome to the best website in Washington for pets meeting
            other pets.  Our dogs find the perfect match and always leave
            as happy as can be!</p>
            <h4 class="text-center">Some owners said -</h4>
            <hr>
            <blockquote class="mx-4">
                <p><em>"My Ralphie found the poodle of his dreams!" - Andrea</em></p>
                <p><em>"Who's a good girl? My Princess is and she loves the
                    encounters she makes here." - John Smith</em></p>
                <p><em>"Just try it! Your pet will never be the same!" - Sarah</em></p>
            </blockquote>
            <hr>
            <!-- Submit button -->
            <div class="text-center">
                <a class="btn btn-primary" href="personal_info" role="button">Create a Profile!</a>
            </div>

        </div>

        <div class="col">
            <img class="rounded" src="images/puppies.jpg" alt="puppies kissing">
        </div>
    </div>
</div>




<include href="includes/footer.htm"></include></body>
</html>