<!doctype html>
<html lang="en">
<head>
    <title>Profile</title>
    <include href="includes/header.htm"></include>
</head>

<body>
<nav class="navbar navbar-light bg-light mb-2">
    <a class="navbar-brand" href="./">My Pet Dating App</a>
</nav>

    <div class="container mt-5">
        <h1>Profile</h1>
        <hr>

        <form action="#" method="post">
            <div class="row">
                <div class="col-6">
                    <!-- get profile information -->
                    <div class="form-group">
                        <label for="email"><strong>Email</strong></label>
                        <input class="form-control" type="text" name="email" id="email">
                        <check if="{{ isset(@errors['email']) }}">
                            <p class="text-danger">{{ @errors['email'] }}</p>
                        </check>
                    </div>

                    <div class="form-group">
                        <label for="state"><strong>State</strong></label>

                        <select class="custom-select mb-3" id="state" name="state">
                            <option>State</option>
                                <repeat group="{{ @states }}" value="{{ @state }}">
                                    <option>
                                        <check if="{{ @state == @SESSION.profile->getState() }}">selected</check>
                                        {{ ucfirst(@state) }}
                                    </option>
                                </repeat>
                        </select>

                        <label><strong>Seeking</strong></label><br>
                        <div class="form-check-inline">
                            <repeat group="{{ @genders }}" value="{{ @theGender }}">
                                <label><input type="radio"
                                              name="seeking"
                                              id="{{ @theGender }}"
                                              value="{{ @theGender }}"
                                    <check if="{{ @theGender == @SESSION.profile->getSeeking() }}" >
                                        checked="checked"
                                    </check>
                                    > {{ ucfirst(@theGender) }}
                                    </input></label>&nbsp
                            </repeat>
                        </div>
                    </div>
                </div>

                <div class="col-6">
                    <div class="form-group">
                        <label for="bio"><strong>Biography</strong></label>
                        <textarea class="form-control" name="bio" id="bio" rows="8">{{ @SESSION.profile->getBio() }}</textarea>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="text-right">
                        <button type="submit" class="btn btn-primary">Next ></button>
                    </div>
                </div>
            </div>
        </form>
    </div>

<include href="includes/footer.htm"></include>
</body>
</html>